/* =-=-=-=-=-=-= FONTS IMPORT =-=-=-=-=-=-= */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
/* =-=-=-=-=-=-= FONTS IMPORT =-=-=-=-=-=-= */

/* =-=-=-=-=-=-= RESET =-=-=-=-=-=-= */
*  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;  
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter';
}

:root{
    font-size: 62.5%;
    --text-color: #667085;
    --main-color: #8E2424;
}
/* =-=-=-=-=-=-= RESET =-=-=-=-=-=-= */

/* =-=-=-=-=-=-= HEADER =-=-=-=-=-=-= */
.c-header {
    display: flex; 
    align-items: center;
    margin: 18px auto; 
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}
/* =-=-=-=-=-=-= LOGO =-=-=-=-=-=-= */
.c-header__logo {
    display: flex;
    align-items: center;
}

.c-header__logo img {
    width: 27px;
}

.c-header__logo p {
    font: normal 500 1.8rem/2.4rem 'Inter';
    margin-left: 8px;
}
/* =-=-=-=-=-=-= LOGO =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= NAV =-=-=-=-=-=-= */
.c-header__nav {
    margin: 0 auto;
}

.c-header__nav ul {
    display: flex;
    gap: 32px;
}

.c-header__nav a {
    font: normal 500 1.6rem/2.4rem 'Inter';
    color: #667085;
}
/* =-=-=-=-=-=-= NAV =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= BUTTONS =-=-=-=-=-=-= */
.c-header__buttons {
    display: flex; 
}

.c-header__button {
    border: none;
    font: normal 500 1.6rem/2.4rem 'Inter';
    padding: 10px 18px;
}

.c-header__button--signin {
    background-color: transparent;
}

.c-header__button--signup {
    color: white;
    background-color: var(--main-color);
    border-radius: 8px;
}
/* =-=-=-=-=-=-= BUTTONS =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= ICONS =-=-=-=-=-=-= */
.c-header__ion {
    font-size: 30px;
    display: none;
    cursor: pointer;
}
/* =-=-=-=-=-=-= ICONS =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= HEADER =-=-=-=-=-=-= */

/* =-=-=-=-=-=-= ABOUT US =-=-=-=-=-=-= */
.c-aboutus {
    display: flex;
    flex-direction: column;
    gap: 96px;
    margin: 96px auto;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    padding: 0 15px;
}
/* =-=-=-=-=-=-= ABOUT =-=-=-=-=-=-= */
.c-aboutus__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.c-aboutus__p--about {
    font-size: max(1.6rem, 1.4vw);
    font-weight: 600;
    color: var(--main-color);
}
.c-aboutus__p--why {
    font-weight: 600;
    font-size: max(3.5rem, 3.6vw);
}
.c-aboutus__p--desc {
    font-size: max(1.6rem, 1.6vw);
    color: var(--text-color);
}
/* =-=-=-=-=-=-= ABOUT =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= METRICS =-=-=-=-=-=-= */
.c-aboutus__metrics {
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.c-aboutus__item {
    max-width: 280px;
}

.c-aboutus__p--title {
    font-size: max(3.5rem, 4vw);
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 12px;
}
.c-aboutus__p--subtitle {
    font-size: max(1.6rem, 1.4vw);
    font-weight: 500;
    color: #101828;
    margin-bottom: 8px;
}
.c-aboutus__p--desc2 {
    font-size: max(1.4rem, 1.2vw);
    color: var(--text-color);
}
/* =-=-=-=-=-=-= METRICS =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= ABOUT US =-=-=-=-=-=-= */

/* =-=-=-=-=-=-= JOBS =-=-=-=-=-=-= */
.c-jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 96px 15px 0px;
    border-top: 2px solid #10182828;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 96px;
}
/* =-=-=-=-=-=-= JOBS - HEADER =-=-=-=-=-=-= */
.c-jobs__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    text-align: center;
}

.c-jobs__p--title {
    font-size: max(1rem, 1.1vw);
    font-weight: 500;
    color: var(--main-color);
    padding: 4px 12px;
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
}
.c-jobs__p--subtitle {
    font-size: max(2.5rem, 2.8vw);
    font-weight: 600;
    color: #101828;
}
.c-jobs__p--desc {
    font-size: max(1.6rem, 1.6vw);
    color: var(--text-color);
}
/* =-=-=-=-=-=-= JOBS - HEADER =-=-=-=-=-=-= */

/* =-=-=-=-=-=-= JOBS - IMG =-=-=-=-=-=-= */
.c-jobs__img img {
    width: 100%;
}
/* =-=-=-=-=-=-= JOBS - IMG =-=-=-=-=-=-= */

/* =-=-=-=-=-=-= JOBS =-=-=-=-=-=-= */
.c-jobs__jobs{
    display: flex;
    flex-direction: column;
    max-width: 768px;
    width: 100%;
    gap: 64px;
}

.c-jobs__jobsp--title {
    font-size: max(1.8rem, 1.6vw);
    font-weight: 500;
    color: #101828;
    margin-bottom: 32px;
}

.c-jobs__itemp--title {
    font-size: max(1.6rem, 1.4vw);
    font-weight: 500;
    color: #101828;
}
.c-jobs__itemp--desc {
    font-size: max(1.4rem, 1.2vw);
    font-weight: 500;
    color: var(--text-color);
}

.c-jobs__item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid #EAECF0;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 24px;
}
.c-jobs__item--desc {
    display: flex;
    gap: 24px;
}
/* =-=-=-=-=-=-= JOBS =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= JOBS =-=-=-=-=-=-= */

/* =-=-=-=-=-=-= COMMENTS =-=-=-=-=-=-= */
.c-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto 96px;
    background-color: rgba(195, 25, 25, 0.03);
    text-align: center;
    border-radius: 16px;
    gap: 32px;
}

/* =-=-=-=-=-=-= COMMENTS - HEADER =-=-=-=-=-=-= */
.c-comments__p--title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main-color);
}
.c-comments__p--desc {
    font-size: max(2.5rem, 2.8vw);
    font-weight: 600;
    color: #101828;
    margin-top: 16px;
}
/* =-=-=-=-=-=-= COMMENTS - HEADER =-=-=-=-=-=-= */

/* =-=-=-=-=-=-= COMMENTS - COLLABS =-=-=-=-=-=-= */
.c-comments__img {
    margin-bottom: 16px;
}
.c-comments__collabsp--name{
    font-size: 1.6rem/2.4rem;
    font-weight: 500;
    color: #101828;
}
.c-comments__collabsp--dev{
    font-size: 1.4rem/2.0rem;
    color: var(--text-color);
}
/* =-=-=-=-=-=-= COMMENTS - COLLABS =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= COMMENTS =-=-=-=-=-=-= */

/* =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= */
.c-footer {
    width: 100%;
    background-color: rgba(249, 250, 251, 1);
    padding: 96px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.c-footer__form {
    padding: 0 15px;
}

/* =-=-=-=-=-=-= FOOTER - HEADER =-=-=-=-=-=-= */
.c-footer__header {
    margin-bottom: 40px;
}
.c-footer__h1--title {
    font-size: max(2.5rem, 2.8vw);
    font-weight: 600;
    color: #101828;
    margin-bottom: 15px;
}
.c-footer__p--subtitle {
    font-size: max(1.4rem, 1.4vw);;
    color: var(--text-color);
}
/* =-=-=-=-=-=-= FOOTER - HEADER =-=-=-=-=-=-= */

/* =-=-=-=-=-=-= FOOTER - EMAIL =-=-=-=-=-=-= */
.c-footer__emailcap {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px;
    justify-content: center;
}
.c-footer__emailcap input[type=email] {
    padding: 12px 14px;
    border: 1px solid #D0D5DD;
    max-width: 360px;
    width: 100%;
    border-radius: 10px;
    font: 400 1.6rem/2.4rem;
    color: #101828;
}

.c-footer__emailcap input[type=submit]{
    padding: 12px 14px;
    border: none;
    background-color: #8E2424;
    color: white;
    font: 400 1.6rem/2.4rem;
    border-radius: 16px;
}
/* =-=-=-=-=-=-= FOOTER - EMAIL =-=-=-=-=-=-= */
.c-footer__p--text {
    font: 400 max(1.6rem 1.6vw);
    color: var(--text-color);
    margin-top: 32px;
    padding: 0 15px;
}
/* =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= */